* {
  border: blue 1px solid;
}

.App {
  text-align: center;
  

}
.header {
  display: flex;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: 
  "column-head-one column-head-two column-head-three"
   "data-display-company data-display-contacts data-display-messages";
}

.column-head-one {
  grid-area: column-head-one;
}
.column-head-two {
  grid-area: column-head-two;
}

.data-display-company {
  grid-area: data-display-company;
}

.data-display-contacts {
  grid-area: data-display-contacts;
}

.data-display-messages {
  grid-area: data-display-messages;
}

.orgCard {
  color: blue;
}