

.App {
  text-align: center;
  

}

.About {
  padding-left: 15%;
  padding-right: 15%;
}


.header {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
}

.exit {
  cursor: pointer;
}

img {
  width: 200px;
}

.log-in {
  padding: 2px;
  margin-bottom: 25%;
  margin-top: 15%;
  margin-right: 25%;
  margin-left: 25%;
  border: 2px solid #369694;
  border-radius: 20px;
}

.body-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: 
  "column-head-one column-head-two column-head-three"
   "data-display-company data-display-contacts data-display-messages";
}

.column-head-one {
  grid-area: column-head-one;
}
.column-head-two {
  grid-area: column-head-two;
}

.data-display-company {
  grid-area: data-display-company;
}

.data-display-contacts {
  grid-area: data-display-contacts;
}

.data-display-messages {
  grid-area: data-display-messages;
}

.orgCard {
  color: #369694;
  cursor: pointer;
}

.orgCard:hover {
  background-color: #369694;
  color: whitesmoke;
  border-radius: 10px;
  padding: 3px;
}

.contact-list {
  cursor: pointer;
  color: #CB1F53;
  border-radius: 10px;
  padding: 3px;

}

.contact-list:hover {
  background-color: #CB1F53;
  color: whitesmoke;
}

.individual {
  background-color: #74B6E5;
  color: whitesmoke;
  border-radius: 10px;
  padding: 3px;

}

.seperate {
  cursor: pointer;
  padding: 5px;
  border: 2px dotted whitesmoke;
  margin: 5px;
  border-radius: 10px;
  padding: 3px;
}

.seperate:hover {
  background-color: whitesmoke;
  color: #74B6E5
}

